[user]
name = Dag Odenhall
email = dag.odenhall@gmail.com

[color]
ui = auto

[core]
editor = gvim --nofork
excludesfile = ~/.gitignore

[alias]
au = add --update
bc = branch
br = browse
cf = config --global
ci = commit
cl = clone
co = checkout
dc = diff --cached
di = diff
ed = commit --amend --allow-empty-message
he = help
lg = log
mr = merge
pl = pull
ps = push
rb = rebase
re = remote
ri = rebase -i
rs = reset --hard HEAD
rv = revert
sh = show
sl = log --graph --decorate --pretty=oneline --abbrev-commit
st = status
