[submodule "mod/sandboxer"]
	path = mod/sandboxer
	url = git://github.com/veinor/sandboxer.git
[submodule "mod/vundle"]
	path = mod/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "mod/dircolors-solarized"]
	path = mod/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
