[user]
name = Dag Odenhall
email = dag.odenhall@gmail.com

[color]
ui = auto

[core]
editor = vim
excludesfile = ~/.gitignore

[alias]
au = add --update
br = branch
cfg = config --global
ci = commit
cl = clone
co = checkout
dc = diff --cached
di = diff
ed = commit --amend
h = help
hub = browse
l = log --graph --decorate --pretty=oneline --abbrev-commit
mr = merge
pl = pull --rebase
ps = push
rb = rebase
re = remote
ri = rebase -i
rs = reset --hard HEAD
rv = revert
sh = show
st = status
