[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vundle"]
	path = vundle
	url = git://github.com/gmarik/vundle.git
[submodule "sandboxer"]
	path = sandboxer
	url = git://github.com/veinor/sandboxer.git
