snippet fun
function! $1($2) " {{{
	$0
endfunction " }}}
endsnippet

snippet au
augroup ${1:Name}
	auto!
	auto ${2:Event} ${3:*} ${4:command}
augroup END
endsnippet

snippet fold
" ${1:Name} {{{

${VISUAL}

" }}} $1
endsnippet
